<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testJobDetail01" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="firstJobDetail"/>
        <property name="group" value="testJobGroup"/>
        <property name="jobClass" value="com.rosydawn.bean.job.TestJobBean"/>
        <property name="durability" value="true"/>
        <property name="description" value="第一个JobDetail"/>
        <!--该任务是否在重启开机后执行宕机中断的任务，默认为false-->
        <property name="requestsRecovery" value="false"/>
    </bean>

    <bean id="testTrigger01" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="triggerName01"/>
        <property name="group" value="triggerGroupName01"/>
        <property name="jobDetail" ref="testJobDetail01"/>
        <property name="startDelay" value="3000"/>
        <property name="cronExpression" value="0/3 * * ? * *"/>
    </bean>

    <bean name="testScheduler01" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
        <property name="autoStartup" value="true"/>
    </bean>
</beans>